:root {
  --dls-dark-color: #272727;
  --dls-light-color: #e8f3f7;
  --dls-primary-color: #e56363;
  --dls-secondary-color: #333743;
  --dls-nav-toggler-glow: #e8f3f757;
  --dls-action-color: #c9e7da;
}
